In [1]:
import pandas as pd

df = pd.DataFrame({"hour": range(5), "price": [10, 11, 10.5, 12, 11.7]})
df

   hour  price
0     0   10.0
1     1   11.0
2     2   10.5
3     3   12.0
4     4   11.7